<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- 定时处理每次收到的订单  by whz -->
	<bean id="quartzJob" class="org.izhong.expert.quartz.QuartzJobClass">
	</bean>
	<bean id="JobTimer" class="org.izhong.expert.util.JobTimer">
	</bean>
	<bean id="orderTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="quartzJob" />
		</property>
		<property name="targetMethod">
			<value>ProcessOrders</value>
		</property>
	</bean>
	<bean id="orderTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="orderTask" />
		</property>
		<property name="cronExpression">
			<!-- <value>0 0 4 * * ?</value>每天凌晨4点 -->
			<value>0 0/1 * * * ?</value> <!-- 每1分钟执行一次(测试用)  -->
		</property>
	</bean>
	
	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
	<bean id="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="orderTime"/>
			</list>
		</property>
	</bean>
</beans>    